header {
  width: 100%;
  min-width: 600px;
  height: 60px;
  position: fixed;
  text-align: center;
  background: #2979FF;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

  #logo {
    display: inline-block;
    color: #fff;
    float: left;
    margin-top: 8px;
    padding: 0 0 0 25px;
    font-weight: 300;
  }

  nav {
    margin-top: 16px;
    float: right;
    padding-right: 15px;
  }

  li {
    display: inline-block;
    padding: 0 20px 0 20px;
  }

  img {
    height: 20px;
    margin-top: 5px;
  }
}

#searchBar {
    display: inline-block;
    position: relative;
    min-width: 250px;
    height:30px;
    margin: 16px 0px 16px 0;
    margin-left: auto;
    margin-right: auto;
    // margin-left: 80px;
    padding: 0;
    background-color: #448AFF;
    // background-color: #0B305F;
    border-radius: 2px;

    input[type=text] {
      font-family: inherit;
      text-transform: uppercase;
      font-weight: 100;
      padding:  0 10px 6px 10px;
    	color: #fff;
      background: none;
      border: none;
      cursor: auto;
      outline: none;
      font-size: 1.2em;
      position: absolute;
      top: 5px;
      left: 30px;
      height: 90%;
    	word-spacing: 20px;
    }
    ::-webkit-input-placeholder {
      color: #eee;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: #fff;
    }

    :-ms-input-placeholder {
      color: #fff;
    }

    img {
      display: block;
      margin:auto;
      margin-top: 5px;
      margin-left: 5px;
      height: 20px;
    }

}

#search {
  margin: auto;
  margin-top: 5px;
  margin-left: 5px;
  background-color: #80DEEA;
}

// mobile
@media (max-width: 550px) {
  header {
    min-width: 400px;

    #logo {
      margin-top: 12px;
      margin-right: 0px;
    }

    #searchBar {
      min-width: 70%;
    }

    nav {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  header{

    #logo{
      display: none;
    }

    #searchBar {
      min-width: 95%;
    }
  }

}
